APP_IMAGE=superhero-app:1.0
APP_PORT=8080
SERVER_PORT=8080

SPRING_DATASOURCE_URL=jdbc:mysql://mysql:3306/superhero_db?useSSL=false&allowPublicKeyRetrieval=true
SPRING_DATASOURCE_USERNAME=root
SPRING_DATASOURCE_PASSWORD=change_me

MYSQL_ROOT_PASSWORD=change_me
MYSQL_DATABASE=superhero_db
MYSQL_PORT=3306

PMA_HOST=mysql
PMA_PORT=3306
PHPMYADMIN_PORT=8081



# change it according to your needs, especially the database credentials for security reasons. 